version: '2'
services:
  hiki:
    container_name: hiki
    image: hiki
    restart: always

    network_mode: bridge
#    ports:
#     - "8080:8080"

    environment:
      - TZ=Europe/Berlin

    volumes:
      - /path/to/your/cctv/folder:/opt/app/cctv:rw
